1. How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

0.25.1

2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary

import numpy as np


mylist = list('abcedfghijklmnopqrstuvwxyz')


myarr = np.arange(26)


mydict = dict(zip(mylist, myarr))

In [6]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

df = pd.Series(mylist)
df

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [7]:
df = pd.Series(myarr)
df

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [8]:
df = pd.Series(mydict)
df

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

**3. How to convert the index of a series into a column of a dataframe?**

Difficulty Level: L1


Convert the series ser into a dataframe with its index as another column on the dataframe.

In [9]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [14]:
df = ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

**4. How to combine many series to form a dataframe?**

Difficulty Level: L1


Combine ser1 and ser2 to form a dataframe.

In [15]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [18]:
df = pd.concat([ser1, ser2], axis=1)
df

#Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

**5. How to assign name to the series’ index?**

Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

In [20]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [23]:
ser = ser.rename("alphabets")
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

**6. How to get the items of series A not present in series B?**

Difficulty Level: L2

From ser1 remove items present in ser2.

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [43]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

~ Operator make True False etc... So here, we check which value in ser2 is also in ser1, we just want values that are in ser1

In [44]:
ser1.isin(ser2)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [45]:
~ser1.isin(ser2)

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [46]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

**7. How to get the items not common to both series A and series B?**

Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

In [47]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [52]:
result = ser1[~ser1.isin(ser2)]
result.append(ser2[~ser2.isin(ser1)])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [53]:
#Another solution
ser_u = pd.Series(np.union1d(ser1, ser2)) #union

In [54]:
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [55]:
ser_i = pd.Series(np.intersect1d(ser1, ser2)) #intersect
ser_i

0    4
1    5
dtype: int64

In [56]:
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

**8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**

Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [57]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser

0      4.095269
1      9.999644
2     12.544973
3      9.878694
4      5.745107
5      4.838469
6     13.736464
7     -0.996241
8     12.673341
9      3.393680
10    13.699201
11    10.302228
12     8.465309
13    12.141874
14     9.592452
15    13.317155
16     8.402587
17     7.433317
18     6.098309
19    16.794216
20     8.539204
21    15.279080
22    21.192616
23    15.436735
24     4.955378
dtype: float64

In [58]:
ser.describe() #it's the easy way

count    25.000000
mean      9.902362
std       4.933850
min      -0.996241
25%       6.098309
50%       9.878694
75%      13.317155
max      21.192616
dtype: float64

In [61]:
print("min ", ser.min())
print("mean ", ser.mean())
print("25th percentile  ", ser.quantile(.25))
print("median  ", ser.quantile(.5))
print("75th max ", ser.quantile(.75))
print("max ", ser.max())

min  -0.9962405819891291
mean  9.902362459832162
25th percentile   6.098308918414046
median   9.878693624518341
75th max  13.317155312030541
max  21.19261627586713

In [62]:
#Another way using numpy
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-0.99624058,  6.09830892,  9.87869362, 13.31715531, 21.19261628])

**9. How to get frequency counts of unique items of a series?**

Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

In [63]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [67]:
ser.value_counts()

c    7
h    5
d    4
f    3
e    3
b    3
g    3
a    2
dtype: int64

**10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**

Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [83]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     1
1     3
2     4
3     2
4     1
5     2
6     1
7     1
8     3
9     3
10    2
11    3
dtype: int32

In [84]:
ser.value_counts()[:2].index.tolist()

[3, 1]

In [87]:
ser[~ser.isin(ser.value_counts()[:2].index.tolist())] = "Other"
ser

0         1
1         3
2     Other
3     Other
4         1
5     Other
6         1
7         1
8         3
9         3
10    Other
11        3
dtype: object

In [89]:
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 3        4
1        4
Other    4
dtype: int64

0         1
1         3
2     Other
3     Other
4         1
5     Other
6         1
7         1
8         3
9         3
10    Other
11        3
dtype: object

**11. How to bin a numeric series to 10 groups of equal size?**

Difficulty Level: L2

Bin the series ser into 10 equal deciles and replace the values with the bin name.

In [90]:
ser = pd.Series(np.random.random(20))
ser

0     0.054859
1     0.407218
2     0.381718
3     0.357507
4     0.430100
5     0.399083
6     0.086070
7     0.279872
8     0.373072
9     0.041201
10    0.093182
11    0.331887
12    0.155175
13    0.228398
14    0.816483
15    0.283676
16    0.889829
17    0.948978
18    0.759416
19    0.951021
dtype: float64

In [92]:
pd.cut(ser, bins=10, labels=["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th"])

0      1st
1      5th
2      4th
3      4th
4      5th
5      4th
6      1st
7      3rd
8      4th
9      1st
10     1st
11     4th
12     2nd
13     3rd
14     9th
15     3rd
16    10th
17    10th
18     8th
19    10th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [94]:
#Another way
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      1st
1      7th
2      6th
3      5th
4      8th
5      7th
6      2nd
7      4th
8      6th
9      1st
10     2nd
11     5th
12     3rd
13     3rd
14     9th
15     4th
16     9th
17    10th
18     8th
19    10th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

**12. How to convert a numpy array to a dataframe of given shape? (L1)**

Difficulty Level: L1

Reshape the series ser into a dataframe with 7 rows and 5 columns

In [95]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     4
1     2
2     3
3     5
4     2
5     4
6     3
7     4
8     7
9     4
10    3
11    6
12    6
13    4
14    9
15    4
16    8
17    8
18    7
19    2
20    4
21    8
22    6
23    7
24    6
25    5
26    1
27    3
28    2
29    6
30    5
31    7
32    8
33    8
34    2
dtype: int32

In [100]:
df = pd.DataFrame(ser.values.reshape(7, 5))
df

   0  1  2  3  4
0  4  2  3  5  2
1  4  3  4  7  4
2  3  6  6  4  9
3  4  8  8  7  2
4  4  8  6  7  6
5  5  1  3  2  6
6  5  7  8  8  2

**13. How to find the positions of numbers that are multiples of 3 from a series?**

Difficulty Level: L2

Find the positions of numbers that are multiples of 3 from ser.

In [101]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    9
1    1
2    8
3    8
4    3
5    5
6    2
dtype: int32

In [103]:
ser[ser % 3 == 0].index[:]

Int64Index([0, 4], dtype='int64')

In [104]:
#Another way
np.argwhere(ser % 3 ==0)

C:\Users\User2\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:56: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead
  return getattr(obj, method)(*args, **kwds)

array([[0],
       [4]], dtype=int64)

**14. How to extract items at given positions from a series**

Difficulty Level: L1

From ser, extract the items at positions in list pos.

In [105]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [106]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

In [107]:
#Another way
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

**15. How to stack two series vertically and horizontally ?**

Difficulty Level: L1

Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [108]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
ser1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [110]:
ser2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [115]:
#Vertically
ser1.append(ser2)

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object

In [114]:
#Horizontally
df = pd.concat([ser1, ser2], axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

**16. How to get the positions of items of series A in another series B?**

Difficulty Level: L2

Get the positions of items of ser2 in ser1 as a list.

In [116]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [130]:
pd.DataFrame(ser1[ser1.isin(ser2)]).index

Int64Index([0, 4, 5, 8], dtype='int64')

In [127]:
#Solution
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [131]:
# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

**17. How to compute the mean squared error on a truth and predicted series?**

Difficulty Level: L2

Compute the mean squared error of truth and pred series.

In [132]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [133]:
#WRONG I FORGOT THE MEAN HOW DUMB AM I
(pred-truth)**2

0    0.006614
1    0.404562
2    0.007949
3    0.255756
4    0.034190
5    0.199587
6    0.000004
7    0.361910
8    0.008266
9    0.008871
dtype: float64

In [134]:
np.mean((truth-pred)**2)

0.12877092029894116

**18. How to convert the first character of each element in a series to uppercase?**

Difficulty Level: L2

Change the first character of each word to upper case in each word of ser.

In [136]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser

0     how
1      to
2    kick
3    ass?
dtype: object

In [138]:
ser.str.capitalize()

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [139]:
#Other solutions
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [140]:
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [141]:
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

**19. How to calculate the number of characters in each word in a series?**

Difficulty Level: L2

In [142]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser

0     how
1      to
2    kick
3    ass?
dtype: object

In [143]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64