1. How to import pandas and check the version?

In [2]:
import pandas as pd
print(pd.__version__)

0.25.1

2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary

import numpy as np


mylist = list('abcedfghijklmnopqrstuvwxyz')


myarr = np.arange(26)


mydict = dict(zip(mylist, myarr))

In [6]:
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

df = pd.Series(mylist)
df

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [7]:
df = pd.Series(myarr)
df

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [8]:
df = pd.Series(mydict)
df

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

**3. How to convert the index of a series into a column of a dataframe?**

Difficulty Level: L1


Convert the series ser into a dataframe with its index as another column on the dataframe.

In [9]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [14]:
df = ser.to_frame().reset_index()
df

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

**4. How to combine many series to form a dataframe?**

Difficulty Level: L1


Combine ser1 and ser2 to form a dataframe.

In [15]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [18]:
df = pd.concat([ser1, ser2], axis=1)
df

#Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

    0   1
0   a   0
1   b   1
2   c   2
3   e   3
4   d   4
5   f   5
6   g   6
7   h   7
8   i   8
9   j   9
10  k  10
11  l  11
12  m  12
13  n  13
14  o  14
15  p  15
16  q  16
17  r  17
18  s  18
19  t  19
20  u  20
21  v  21
22  w  22
23  x  23
24  y  24
25  z  25

**5. How to assign name to the series’ index?**

Difficulty Level: L1

Give a name to the series ser calling it ‘alphabets’.

In [20]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [23]:
ser = ser.rename("alphabets")
ser

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alphabets, dtype: object

**6. How to get the items of series A not present in series B?**

Difficulty Level: L2

From ser1 remove items present in ser2.

In [24]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [43]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

~ Operator make True False etc... So here, we check which value in ser2 is also in ser1, we just want values that are in ser1

In [44]:
ser1.isin(ser2)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [45]:
~ser1.isin(ser2)

0     True
1     True
2     True
3    False
4    False
dtype: bool

In [46]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

**7. How to get the items not common to both series A and series B?**

Difficulty Level: L2

Get all items of ser1 and ser2 not common to both.

In [47]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [52]:
result = ser1[~ser1.isin(ser2)]
result.append(ser2[~ser2.isin(ser1)])

0    1
1    2
2    3
2    6
3    7
4    8
dtype: int64

In [53]:
#Another solution
ser_u = pd.Series(np.union1d(ser1, ser2)) #union

In [54]:
ser_u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [55]:
ser_i = pd.Series(np.intersect1d(ser1, ser2)) #intersect
ser_i

0    4
1    5
dtype: int64

In [56]:
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

**8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?**

Difficuty Level: L2

Compute the minimum, 25th percentile, median, 75th, and maximum of ser.

In [57]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser

0      4.095269
1      9.999644
2     12.544973
3      9.878694
4      5.745107
5      4.838469
6     13.736464
7     -0.996241
8     12.673341
9      3.393680
10    13.699201
11    10.302228
12     8.465309
13    12.141874
14     9.592452
15    13.317155
16     8.402587
17     7.433317
18     6.098309
19    16.794216
20     8.539204
21    15.279080
22    21.192616
23    15.436735
24     4.955378
dtype: float64

In [58]:
ser.describe() #it's the easy way

count    25.000000
mean      9.902362
std       4.933850
min      -0.996241
25%       6.098309
50%       9.878694
75%      13.317155
max      21.192616
dtype: float64

In [61]:
print("min ", ser.min())
print("mean ", ser.mean())
print("25th percentile  ", ser.quantile(.25))
print("median  ", ser.quantile(.5))
print("75th max ", ser.quantile(.75))
print("max ", ser.max())

min  -0.9962405819891291
mean  9.902362459832162
25th percentile   6.098308918414046
median   9.878693624518341
75th max  13.317155312030541
max  21.19261627586713

In [62]:
#Another way using numpy
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-0.99624058,  6.09830892,  9.87869362, 13.31715531, 21.19261628])

**9. How to get frequency counts of unique items of a series?**

Difficulty Level: L1

Calculte the frequency counts of each unique value ser.

In [63]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [67]:
ser.value_counts()

c    7
h    5
d    4
f    3
e    3
b    3
g    3
a    2
dtype: int64

**10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?**

Difficulty Level: L2

From ser, keep the top 2 most frequent items as it is and replace everything else as ‘Other’.

In [69]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     4
2     2
3     1
4     1
5     4
6     1
7     3
8     4
9     1
10    2
11    3
dtype: int32

In [74]:
ser.value_counts()[:2].index.tolist()

[1, 4]